/* About Us Section Styles */
.about-us {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
}

.about-us h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.about-us p {
  color: #666;
  font-size: 16px;
  line-height: 1.8;
  text-align: justify;
  margin-bottom: 20px;
}

.team-members {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.team-member {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.team-member img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.team-member h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.team-member p {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
}
