.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.card {
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
  border: 1px solid #ccc;
  background-color: #fff;
  flex-grow: 1;
  flex: 0 1 20%;
  margin: 10px;
  padding: 20px;
}

.card h4 {
  margin-top: 0px;
}

.card p {
  margin-bottom: 5px;
}

.large-icon {
  font-size: 70px;
  color: #0093FB;
}

.form-group {
  margin-bottom: 10px;
}

.btn {
  padding: 10px 20px; /* Decreased padding for the buttons */
  font-size: 1rem; /* Decreased font size for the buttons */
}
