{% extends 'base.html' %}
{% block styles %}
  <link rel="stylesheet" href="static/css/about_us.css">
{% endblock %}
{% block content %}
     <!-- About Us Section -->
      <section class="about-us">
        <h2>About Us</h2>
        <p>Welcome to TalkData, where we empower you to interact with your data like never before. Our mission is to make data analysis intuitive and insightful through cutting-edge technology. Whether you're a business analyst, data scientist, or anyone working with data, we're here to help you uncover meaningful insights effortlessly.</p>
        <p>Explore our tools, engage with your data using natural language, and visualize your findings with ease. Join us on this journey of transforming data into actionable intelligence.</p>
      </div>
      <div class="container team-members">
        <div class="team-member">
          <h3>Taciana Gomes</h3>
          <p>Team leader</p>
        </div>
        <div class="team-member">
          <h3>Hachem Lamrani</h3>
          <p>Data Scientist</p>
        </div>
        <div class="team-member">
          <h3>Ilias Benkhaled</h3>
          <p>Data Scientist</p>
        </div>
        <div class="team-member">
          <h3>Jens</h3>
          <p>Data Scientist</p>
        </div>
        <div class="team-member">
          <h3>Lucia Fontana</h3>
          <p>Data Scientist</p>
        </div>
      </div>
    </section>
{% endblock %}
