{% extends 'base.html' %}
{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/about_us.css') }}">
{% endblock %}
{% block content %}
     <!-- About Us Section -->
     <h1>Our team</h1>
     <p class="about-us-p">Our team is made up of data scientists who share a passion for AI</p>
     <div class="team-container">
        <div class="team-member">
          <img src="{{ url_for('static', filename='images/taciana_gomes.png') }}" alt="Taciana Gomes" class="team-photo">
          <h3>Taciana Gomes</h3>
          <p>Team Leader</p>
        </div>
        <div class="team-member">
          <img src="{{ url_for('static', filename='images/hachem_lamrani.png') }}" alt="Hachem Lamrani" class="team-photo">
          <h3>Hachem Lamrani</h3>
          <p>Data Scientist</p>
        </div>
        <div class="team-member">
          <img src="{{ url_for('static', filename='images/ilias_benkhaled.png') }}" alt="Ilias Benkhaled" class="team-photo">
          <h3>Ilias Benkhaled</h3>
          <p>Data Scientist</p>
        </div>
        <div class="team-member">
          <img src="{{ url_for('static', filename='images/jens_rottkewitz.png') }}" alt="Jens" class="team-photo">
          <h3>Jens Rottkewitz</h3>
          <p>Data Scientist</p>
        </div>
        <div class="team-member">
          <img src="{{ url_for('static', filename='images/lucia_fontana.png') }}" alt="Lucia Fontana" class="team-photo">
          <h3>Lucia Fontana</h3>
          <p>Data Scientist</p>
        </div>
      </div>
{% endblock %}
