{% extends 'base.html' %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/product.css') }}">
{% endblock %}
{% block content %}
<h2 class="text-center">How it works</h2>
<div class="grid-container">
    <div class="card">
        <div class="card-section icon-section">
            <i class="fa-solid fa-cloud-arrow-up large-icon"></i>
        </div>
        <div class="card-section form-section">
            <div>
                <h4>Upload a spreadsheet</h4>
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <div>
                        <input type="file" class="form-control" name="file" accept=".csv">
                        <input type="submit" value="Upload" class="btn">
                    </div>
                </form>
            </div>
        </div>
        <div class="card-section button-section">
            <form action="{{ url_for('search_ideas') }}" method="get">
                <button type="button" class="btn">Generate Ideas</button>
            </form>
        </div>
    </div>

    <div class="card">
        <div class="card-section icon-section">
            <i class="fa-solid fa-comment large-icon"></i>
        </div>
        <div class="card-section form-section">
            <h4>Talk to your data</h4>
        </div>
        <div class="card-section button-section">
          <form action="/search" method="post">
            <div class="form-group bordered-form">
                <input type="text" class="form-control" id="searchInput" name="query" placeholder="Type your query">
                <button type="button" class="btn">Enter</button>
            </div>
          </form>
        </div>
    </div>

    <div class="card">
      <div class="card-section icon-section">
          <i class="fa-solid fa-chart-line large-icon"></i>
      </div>
      <div class="card-section form-section">
          <h4>Visualize your chart</h4>
          {% if img is none %}
          <p>Make and interpret charts in seconds</p>
      </div>
      <div class="card-section button-section">
        {% else %}
        <img src="static/images/{{ img }}" alt="Image returned" style="width: 100%;">
        {% endif %}
      </div>
  </div>
</div>

<div id="ideas">
{% if frases is not none %}
    <ul>
    {% for frase in frases %}
        <li>{{ frase }}</li>
    {% endfor %}
    </ul>
{% endif %}
</div>

<div>
{% if texto is none %}
 <p>&nbsp;</p>
 <p>&nbsp;</p>
{% else %}
 <p>&nbsp;</p>
 <p>&nbsp;</p>
 {{ texto }}
{% endif %}
</div>
{% endblock %}
