{% extends 'base.html' %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/product.css') }}">
{% endblock %}
{% block content %}
<div class="container">
    <h2 class="text-center">How it works</h2>
    <div class="grid-container">
        <div class="card">
            <div class="card-section icon-section">
                <i class="fa-solid fa-cloud-arrow-up large-icon" title="Upload a Spreadsheet"></i>
            </div>
            <div class="card-section form-section">
                <h4>Upload a spreadsheet</h4>
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <input type="file" class="form-control" name="csvFile" accept=".csv">
                    <input type="submit" value="Upload" class="btn btn-primary mt-2">
                </form>
                {% if uploadedFilePath %}
                <div>
                    <p style="color:green;">File uploaded successfully!</p>
                    <form action="{{ url_for('showData', uploadedFilePath=uploadedFilePath) }}" method="get">
                        <input type="hidden" id="uploadedFilePath" name="uploadedFilePath" value="{{ uploadedFilePath }}">
                        <input type="submit" class="btn btn-primary" value="Show .CSV">
                    </form>
                </div>
                {% endif %}
            </div>
            <div class="card-section button-section">
                <form action="{{ url_for('search_ideas') }}" method="get">
                    <input type="hidden" id="uploadedFilePath" name="uploadedFilePath" value="{{ uploadedFilePath }}">
                    <button type="submit" class="btn btn-primary">Generate Ideas</button>
                </form>
            </div>
        </div>

        <div class="card">
            <div class="card-section icon-section">
                <i class="fa-solid fa-comment large-icon" title="Talk to Your Data"></i>
            </div>
            <div class="card-section form-section">
                <h4>Talk to your data</h4>
                <form id="queryForm" action="/search" method="post">
                    <input type="text" class="form-control" id="searchInput" name="query" placeholder="Type your query">
                    <input type="hidden" id="uploadedFilePath" name="uploadedFilePath" value="{{ uploadedFilePath }}">
                    <button type="submit" class="btn btn-primary mt-2">Enter</button>
                </form>
            </div>
        </div>

        <div class="card">
            {% if img is none %}
            <div class="card-section icon-section">
                <i class="fa-solid fa-chart-line large-icon" title="Visualize Your Chart"></i>
            </div>
            {% endif %}
            <div class="card-section form-section">
                {% if img is none %}
                <h4>Visualize your chart</h4>
                <p>Make and interpret charts in seconds</p>
                {% else %}
                <img id="plotImg" src="static/images/{{ img }}" alt="Image returned" style="width: 90%; cursor: pointer;">
                <a href="{{ url_for('download_file', filename=img) }}" class="btn btn-primary mt-2">Download Chart</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div id="ideas" class="ideas-container">
    {% if frases is not none %}
    <h4>Generated Ideas</h4>
    <div class="ideas-grid">
        {% for frase in frases %}
        {% if frase.strip() %}
        <div class="idea-card">
            <p>{{ frase.strip() }}</p>
            <button class="btn btn-primary idea-details" onclick="setQuery('{{ frase.strip() }}')">Use this Idea</button>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
</div>

<div class="interpretation-container">
    {% if texto is none %}
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    {% else %}
    <h4>Graph Interpretation</h4>
    <p>{{ texto }}</p>
    {% endif %}
</div>

<div class="spacer"></div> <!-- Added spacer for additional bottom space -->

<!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
</div>

<script>
    function setQuery(query) {
        console.log("Setting query: ", query);
        var searchInput = document.getElementById("searchInput");
        searchInput.value = query;
    }

    document.addEventListener('DOMContentLoaded', function () {
        // Delegate click event to the parent
        document.getElementById('ideas').addEventListener('click', function (event) {
            if (event.target && event.target.matches('button.idea-details')) {
                setQuery(event.target.parentElement.querySelector('p').innerText);
            }
        });

        var modal = document.getElementById("myModal");
        var img = document.getElementById("plotImg");
        if (img) {
            img.onclick = function () {
                modal.style.display = "block";
                modalImg.src = this.src;
            }
        }
        var modalImg = document.getElementById("img01");
        var span = document.getElementsByClassName("close")[0];
        span.onclick = function () {
            modal.style.display = "none";
        }
    });
</script>
{% endblock %}
